h1 {
	color: black;
	text-align: center;
	text-decoration: underline;
}
.class1 {
	text-align: center;
	background-color: gray;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: -20px;
}
.class1 p {
	text-align: left;
	color: #fff;
	font-size: 16px;
	font-family: verdana;
}
.class3 {
	text-align: center;
	background-color: gray;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: -20px;
}
.class3 p {
	text-align: left;
	color: #fff;
	font-size: 16px;
	font-family: verdana;
}
.carousel-inner img {
	width: 100%;
	object-fit: contain;
}
/* .carousel .slide {
	border-radius: 55px 55px 55px 55px;
	overflow: hidden;
} */
