h1 {
	color: black;
	text-decoration: underline;
	text-align: left;
	/* margin-left: 150px; */
}
.class1 {
	text-align: left;
}
.class1 button {
	background-color: mediumseagreen;
}
.form {
	text-align: center;
}

.text {
	margin-left: 50%;
}

.btn {
	/* display: flex;
	align-items: center;
	justify-content: center; */
	text-align: left;
}
/* .follow {
	left: 800px;
	position: relative;
	top: -350px;
	margin-top: 100px;
}
.follow h1 {
	margin-left: 20px;
} */
